{% extends 'base.html' %}
{% block title %}Admin Dashboard{% endblock %}

{% block content %}

<div class="row justify-content-center align-items-center" style="min-height: 70vh;">
  <div class="col-12 col-sm-10 col-md-6 col-lg-5">

    <div class="card shadow-sm">
      <div class="card-body p-4 text-center">

        <h3 class="mb-4 fw-bold">
          SmartCart Admin Dashboard
        </h3>

        <!-- Action Buttons -->
        <div class="d-grid gap-3">

          <a href="admin/profile" class="btn btn-outline-info">
            Admin Profile
          </a>

          <a href="{{ url_for('add_item') }}" class="btn btn-outline-info">
            Add Item
          </a>

          <a href="{{ url_for('item_list') }}" class="btn btn-outline-info">
            View Items
          </a>

        </div>

      </div>
    </div>

  </div>
</div>

{% endblock %}